@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-btn {
    @apply bg-gray-800 bg-opacity-70 hover:text-white hover:bg-opacity-80 font-bold rounded-md px-6 py-3 text-lg;
  }
  .hero-btn {
    @apply flex gap-3 items-center bg-gray-200 text-gray-800 hover:bg-gray-300 font-bold rounded-md px-6 py-3 text-lg;
  }
  .items {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
  }
  .item {
    @apply opacity-90 hover:opacity-100 flex flex-col;
  }
  .form-field {
    @apply p-3 rounded-md text-gray-900 placeholder:text-gray-500 focus:outline-none focus:ring ring-gray-400;
  }
}

svg {
  width: 1.2rem;
}

body {
  @apply bg-c-bg text-gray-300;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

a:hover {
  @apply text-white;
}
